.header{
    height: 45px;
    /* background-color: var(--blanco-dm-texto-lm-elementos); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-bottom: 1px solid rgb(234, 234, 234);
}

.mode{
    display: flex;
    margin: 0;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.mode>img{
    object-fit: cover;
    max-width: 12px;
    max-height: 12px;
    margin-right: 5px;
}

.header-title{
    font-size: 24px;
}

.header-dark>*, .header-dark{
    background-color: var(--azul-oscuro-dm-background);
    color: var(--blanco-dm-texto-lm-elementos);
}


.img-dark{
    filter: brightness(0) invert(1);
}

.header-light>*, .header-light{
    color: var(--azul-oscuro-lm-texto);
    background-color: var(--gris-claro-lm-background);
}


